@model IEnumerable<Recipe>

<h2>@ViewData["Title"]</h2>
<h1>View Recipes</h1>
Recipes Found: @Model.Count()
<br />
<br />
<form method="post">
    <div class="form-group">
        <label for="search">Search:</label>
        <input class="form-control col-6" name="search" /><br />
    </div>
    <div class="form-group">
        <button asp-controller="Recipe" asp-action="Index" class="btn btn-default" type="submit">Search</button>
    </div>
</form>
@foreach (var r in Model)
{

    <div class="media transparent" style="border: 1px ridge blue; padding: 3px;">
        <div class="media-left">
            <img src="@r.ImgUrl" class="media-object" style="width: 50px; margin-right: 5px;" />
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                @r.Name
            </h4>
            <p>
                <a asp-controller="Recipe" asp-action="RecipeDetail" asp-route-id="@r.RecipeID">View Recipe</a>
            </p>

        </div>
    </div>
    }
